{
  "presets": ["latest", "react", "stage-1", "stage-3"],
  "plugins": [
    "transform-decorators-legacy",
    "add-module-exports",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
  			"babel-plugin-transform-remove-debugger",
  			"babel-plugin-dev-expression"
      ]
    },
    "development": {
      "presets": ["react-hmre"]
    },
    "test": {
      "plugins": [
        ["webpack-loaders", { "config": "webpack/config.node.js", "verbose": true }]
      ]
    }
  }
}
